.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

  }

.text-center{
    margin-top: 0px!important;
}

.color-footer{
  margin-left: -245px;
   background-color: red; 
   width: 1580px;

}